* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(31, 31, 31);
    outline: 1px solid slategrey;
}

.section {
    min-height: 100.5vh;
    background-color: rgb(15, 15, 15);
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    text-align: center;
}

.section .cont {
    min-height: 5rem;
    width: 70vw;
    align-self: center;
    padding: 0;
}

.section .cont .header {
    color: rgb(245, 245, 245);
    margin: 2rem 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.7rem;
    letter-spacing: 10px;
}

.section .cont .header span {
    color: rgba(255, 192, 192, 0.883);
    font-family: monospace;
    font-size: small;
    letter-spacing: 0px;
}

.section .cont .main {
    color: rgb(230, 230, 230);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1rem;
    border-radius: 5px;
    letter-spacing: 5px;
    width: 100%;
}

.section .cont .main span {
    /* color: rgba(0, 195, 255, 0.815); */
    color: rgba(255, 30, 0, 0.801);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.wrapper {
    height: 100vh;
    background-image: url('../images/mistyWheat.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.wrapper .thing {
    align-self: center;
    padding: 1rem 1rem;
    border-radius: 3%;
    background-color: rgb(20, 20, 20);
    color: rgb(221, 221, 221);
    font-size: x-large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 3px;
}

.mainOne {
    min-height: 1rem;
    background-color: rgb(15, 15, 15);
    text-align: center;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    /* box-shadow: rgb(189, 189, 189) 0px 0px 3000px 50px inset; */
}

.mainOne .cont {
    align-self: center;
    min-height: 5rem;
    width: 70vw;
    margin: 1rem;
    padding: 0;
}

.mainOne .cont .header {
    margin: .8rem 1rem;
    color: rgb(0, 0, 0);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.7rem;
    letter-spacing: 5px;
}

.mainOne .cont .main {
    min-height: 1px;
    margin: 1rem;
    padding: .7rem 1rem;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapperTwo {
    height: 45vh;
    background-image: url('../images/train.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
}

.wrapperThree {
    height: 45vh;
    background-image: url('../images/night.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
}

.space {
    width: 100%s;
    height: 10vh;
    background-color: black;
}

#animation {
    transition: 2s ease;
    height: 20vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#animation:hover {
    transition: 2s ease;
    height: 100vh;
}

#animation .gameTitle {
    height: 20vh;
    display: flex;
    justify-content: left;
    text-align: left;
    transition: 2s ease;
}

#animation .gameTitle:hover {
    height: 100vh;
    -webkit-animation-name: fadeOut;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    transition: 2s ease;
}

@keyframes fadeOut {
    0% {
        opacity: 100%;
    }
    15% {
        opacity: 85%;
    }
    30% {
        opacity: 70%;
    }
    45% {
        opacity: 55%;
    }
    60% {
        opacity: 40%;
    }
    75% {
        opacity: 25%;
    }
    90% {
        opacity: 10%;
    }
    100% {
        opacity: 0%;
    }
}


/* @keyframes fadeInOut {
    0% {
        opacity: 10%;
    }
    20% {
        opacity: 0%;
    }
    40% {
        opacity: 5%;
    }
    60% {
        opacity: 35%;
    }
    80% {
        opacity: 70%;
    }
    100% {
        opacity: 100%;
    }
} */

#animation .gameTitle .title {
    align-self: center;
    background-color: rgb(8, 8, 8);
    color: rgb(207, 207, 207);
    padding: .3rem 1rem;
    font-size: 1.5rem;
    font-family: monospace;
    opacity: 80%;
}

#animation .gameTitle .title:hover {
    transition-duration: .5s;
}

.halo {
    background-image: url('../images/halo.jpg');
}

.gorillaz {
    background-image: url('../images/gorillaz.jpg');
}

.gta {
    background-image: url('../images/gtaV.jpg');
}

.dbz {
    background-image: url('../images/dbz.jpg');
}

.acu {
    background-image: url('../images/Orginal (2).jpg');
}
